
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Usuarios/Login">
    <input type="email" name="email" placeholder="correo"/>
    <input type="password" name="password" placeholder="contraseña"/>
    <input type="submit" name="ingresar"/>
</form>
<div class="alert-danger">@ViewBag()</div>